<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpumind.e_tech_news">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NewsMainActivity"
            android:theme="@style/ActionBarTheme"/>

        <activity android:name=".ProcessUserActivity"
            android:theme="@style/AppThemeFullScreen" />

        <activity android:name=".RegisterActivity"
            android:theme="@style/AppThemeFullScreen" />


    </application>

</manifest>