<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simpumind.e_tech_news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ENewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity android:name=".activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.NewsMainActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activities.ProcessUserActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activities.OTPActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity android:name=".activities.SignupActivity" />
        <activity
            android:name=".activities.VendorNewsListActivity"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NewsMainActivity" />
        </activity>
        <activity
            android:name=".activities.NewsDetailActivity"
            android:logo="@drawable/ic_close_white_24dp"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VendorNewsListActivity" />
        </activity>
        <activity
            android:name=".activities.VendorSettingsActivity"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VendorNewsListActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity android:name=".activities.SettingsActivity"
            android:theme="@style/ActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VendorNewsListActivity" />
        </activity>
    </application>

</manifest>